{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i
            class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
        {% if include.type != "grid" and teaser %}
        <span class="label label-success arrowed-in-right arrowed">{{post.category}}</span>
        {% endif %}
    </h2>
    {% if include.type != "grid" and teaser %}
    <div class="archive__item-teaser">
        <div class="teaser-image">
        <img src=
                     {% if teaser contains "://" %}
        "{{ teaser }}"
        {% else %}
        "{{ teaser | absolute_url }}"
        {% endif %}
        alt="">
        </div>

        <div class="archive-cards">
            <p class="page__meta"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i></strong> <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
            {% if post.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
            {% endif %}

            {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify |
            strip_html | truncate: 160 }}
            <span class="span_readmore">
                <a href="{{ post.url | absolute_url }}" class="btn btn-flat btn-flat-blue btn-flat-radius">Read more</a>
            </span>
        </p>
            {% endif %}

        </div>

    </div>
    {% else %}
    <div class="archive__item-cards">
        <img src=
                     {% if teaser contains "://" %}
        "{{ teaser }}"
        {% else %}
        "{{ teaser | absolute_url }}"
        {% endif %}
        alt="">
    </div>
    <div>
        {% if post.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}
        {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify |
        strip_html | truncate: 160 }}</p>{% endif %}
    </div>
    {% endif %}
</article>
</div>